$color_one: #d1d1d3;
$color_two: #e0b5d7;
$color_three: #ffb5c9;
$color_four: #ffbfa6;
$color_five: #f8c351;
$color_six: #f9f871;

$wall_one_pic: url(../../public/art_assets/brickwallpaper/wall_one.jpg);
$wall_two_pic: url(../../public/art_assets/brickwallpaper/wall_two.jpg);
$wall_two_top_pic: url(../../public/art_assets/brickwallpaper/wall_two_top.jpg);
$wall_two_side_pic: url(../../public/art_assets/brickwallpaper/wall_two_side.jpg);
$wall_three_pic: url(../../public/art_assets/brickwallpaper/wall_three.jpg);
$wall_four_pic: url(../../public/art_assets/brickwallpaper/wall_four.jpg);
$div_pic_one: url(../../public/art_assets/pic4.jpg);
$div_pic_two: url(../../public/art_assets/pic5.jpg);
// Fonts ttf = truetype woff = woff otf = opentype
@font-face {
  font-family: "QSand";
  src: local("QSand"),
    url(../../public/art_assets/fonts/Quicksand-VariableFont_wght.ttf)
      format("truetype");
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
    url(../../public/art_assets/fonts/Rubik-VariableFont_wght.ttf)
      format("truetype");
}
@font-face {
  font-family: "MWeather";
  src: local("MWeather"),
    url(../../public/art_assets/fonts/Merriweather-Black.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  

}

header{
  background-image: $wall_two_top_pic;
  background-size: 100%;
  background-repeat: no-repeat;
  .container{
    height:100%;
    width:100%;
    background-color: rgba(109,109,111,0.6);

  }
  
}
main{
  background-image: $wall_two_side_pic;
  background-size: 100%;
  background-repeat:inherit;

}
footer{
  background-image: $wall_two_top_pic;
  background-size: 200%;
  background-repeat: no-repeat;

}

// Global Variables
h1 {
  font-size: 20px;
  color: $color_five;
  font-family: MWeather;
}
p {
  display: flex;
  text-align: left;
  color: $color_four;
  font-family: QSand;
}


// Component specific
.product-list {
  list-style-type: none;

  width: 100%;
}

.link-card {
  width: 100%;

  a {
    h2 {
      display: flex;
      justify-content: left;
      color: $color_six;
      font-family: Rubik;
    }

    img {
      justify-self: center;
      height: 250px;
      width: 250px;
    }

    p {
      display: flex;
      text-align: left;
      color: black;
      font-family: QSand;
    }
  }
}

.div-pic1 {
  background-image: $div_pic_one;
}
.div-pic2 {
  background-image: $div_pic_two;
}
