<footer>
    <ul class="outer_ul">
    <li class="item_left"><ul>
        <li>Contact Info</li>
        <li>Number</li>
        <li>Address</li>
        <li>Email</li>
    </ul></li>
    <li class="item_left"><ul>
        <li>Social Image</li>
        <li>Social Image</li>
        <li>Social Image</li>
        <li>Social Image</li>
    </ul></li>
</ul>
</footer>

<style>
    footer{
        color:white;
        justify-content: space-between;
        bottom: 0;
        width:100%;
        
    }
    li{
        list-style-type: none;
    }

    .outer_ul{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        background-color: rgba(109,109,111,0.6);
    }

    .item_left{
       float:left;
       
    }

    .item_right{
        float:right;
       
        
    }
</style>